.para-direita {
    background-image: url(skier.png);
    background-position: -25px -6px;
    width: 22px;
    height: 28px;
}

.para-esquerda {
    background-image: url(skier.png);
    background-position: -26px -43px;
    width: 22px;
    height: 28px;
}

.para-frente {
    background-image: url(skier.png);
    background-position: -67px -2px;
    width: 15px;
    height: 32px;
    position: absolute;
}

.yeti1 {
    background-image: url(yeti1.png);
    width: 29px;
    height: 43px;
    position: absolute;
    animation: yeti_animation 0.1s steps(2) infinite;

}

.yeti2 {
    background-image: url(yeti2.png);
    width: 29px;
    height: 43px;
    position: absolute;
    animation: yeti_animation 0.1s steps(2) infinite;
}

@keyframes yeti_animation {
    from{background-position-x:0px;}
    to{background-position-x:58px;}
  }

.yeti_kill {
    background-image: url(ripinpeace.png);
    width: 30px;
    height: 43px;
    position: absolute;
    animation: yeti_kill_animation 1s steps(5) infinite;
}

@keyframes yeti_kill_animation {
    from{background-position-x:0px;}
    to{background-position-x:-150px;}
  }


.fallen {
    background-image: url(skier.png);
    background-position: -83px -84px;
    width: 32px;
    height: 25px; 
}

.dead {
    background-image: url(skier.png);
    background-position: -242px -2px;
    width: 31px;
    height: 31px;
}

.mushroom {
    background-image: url(mushroom.png); 
    width: 10px;
    height: 11px;   
    position: absolute;
}

.arvore {
    background-image: url(obstacles.png);
    background-position: -0px -31px;   
    width: 28px;
    height: 32px;   
    position: absolute;
}

.burning_bush {
    background-image: url(burning_bush.png);
    background-position: 0px 0px;
    width: 23px;
    height: 27px;
    position: absolute;
    animation: animate_burning_bush 1s steps(4) infinite;
}

@keyframes animate_burning_bush {
    from{background-position-x:0px;}
    to{background-position-x:92px;}
  }

.dog {
    background-image: url(dog.png);
    background-position: 0px 0px;
    width: 22px;
    height: 19px;
    position: absolute;
    animation: animate_dog 1s steps(4) infinite;
}

@keyframes animate_dog {
    from{background-position-x:0px;}
    to{background-position-x:-88px;}
  }

.rock {
    background-image: url(rock.png);
    background-position: 0px 0px;
    width: 23px;
    height: 11px;
    position: absolute;
}

.big_tree {
    background-image: url(big_tree.png);
    background-position: 0px 0px;
    width: 32px;
    height: 64px;
    position: absolute;
}

.tree_stump {
    background-image: url(tree_stump.png);
    background-position: 0px 0px;
    width: 16px;
    height: 11px;
    position: absolute;
}



#montanha {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    float: left;
}

#skier {
    position: absolute;
}

#info {
    float: left;
}

